// Widescreens
@include mediaXl{
    // .projects{
    //     grid-template-columns: repeat(4, 1fr);
    // }
}

// Desktops & laptops
@include mediaLg{
    .lg-heading{
            line-height: 1;
            margin-bottom: 2.9rem;
        }
    .sm-heading{
        margin-bottom: 2rem;
    }

    .projects{
        grid-template-columns: repeat(3, 1fr);
    }

    .square-background{
        max-width: 70%;
    }
}

// Tablets & small laptops
@include mediaMd{
    main#home{
        align-items: center;
        text-align: center;
        padding: 2.5rem;
        
        .lg-heading{
            line-height: 1;
            margin-bottom: 2rem;
        }
        .sm-heading{
            margin-bottom: 2rem;
        }
    }

    ul.menu-nav, div.menu-branding{
        float: none;
        width: 100%;

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    .project{
        flex-direction: column;

        &-container{
            display: inline-block;
            margin: 1rem auto;
        }

        .overview-container{
            max-width: 100%;
        }
    }

    .background-h1-tag::after{
        padding-top: 1.5rem;
    }

    .square-background{
        max-width: 89%;
    }
}

// Smartphones
@include mediaSm{
    main#home{
        padding: 2rem;
    }
    .lg-heading{
        font-size: 4rem;
        margin-bottom: 2.5rem;
        margin-top: 10vh;
    }
    .sm-heading{
        font-size: 1.2rem;
    }

    .menu{
        .nav-link{
            font-size: 22px;
        }
    }

    .main-container{
        padding: 2.5rem !important;
    }

    .projects{
        grid-template-columns: 1fr;
    }

}

// Smaller smartphones
@include mediaXsm{
    .menu-branding{
        .portrait{
            height: 7rem;
            width: 7rem;
        }
    }
    .lg-heading{
        font-size: 3.5rem;
    }
    .sm-heading{
        font-size: 1rem;
    }

    .project-btn-container{
        flex-direction: column;
    }

    .btn-light{
        margin-left: 0 !important;
    }
}