@import 'config';
@import 'headings';
@import 'menu';
@import 'mobile';

*{
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: "Lato";
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}


main{
    padding: 4rem;
    height: 100%;

    .icon-container{
        margin-top: 1rem;

        a{
            padding: 0.4rem;
            color: $secondary-color;
            &:hover{
                color: #fff;
                @include transition();
            }
        }
    }
    .lg-heading{
        overflow: hidden;
        margin-top: 20vh;
    }
}

